body {
  background-color: rgb(72, 46, 5);
}

h1 {
  color: pink; 
}

h3 {
  color: white;
  margin-left: 10px;
}

p {
  color: white;
  margin: 10px 0 10px 10px;
}

img {
  max-width: 100%;
}

.link-box {
  margin: 10px 0 0 10px;
}

.link {
  color: rgb(152, 127, 87);
  font-size: 0.9rem;
  font-weight: 100;
}

.link-line {
  margin-top: 5px;
}
