body {
  font-family: Doto, Helvetica;
  margin: 0;
  padding:30px 30px 20px 30px;
  background-color: rgb(22, 54, 38);

  @media (width >= 40em) {
    padding: 50px 50px 30px 50px;
  }

  @media (width >= 70em) {
    padding: 90px 90px 30px 90px;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:hover h2 {
  color: red !important;
  cursor: pointer;
}

a:active,
a:active h2 {
  color: blue !important;
}

h1 {
  color: white;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  text-decoration: none;
  color: rgba(255, 192, 32, 0.915);
  font-size: 2rem;
  margin: 20px 0
}

h3 {
  font-weight:600;
  text-decoration: none;
  color: green;
  font-size: 1.5rem;
  margin: 18px 0;
}

.home-button {
  font-family: Doto, Helvetica;
  font-weight: 700;
  color: white;
  padding: 5px;
  background-color: blue;
  border-style: dashed;
  border-color: white;
  border-width: 1px;
}

.home-button:hover {
  cursor: pointer;
  background-color: red;
  transition: 0.2s;
}

.email-link {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

.email-link:hover {
  color: red;
}

.copyright {
  color: rgb(103, 103, 103);
  margin-top: 40px;
}

.impressum {
  margin: 10px 0 0 0;
}

.impressum:hover {
  color: red;
}

.impressum-link {
  color: rgb(103, 103, 103)
}
