.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap:70px;
  row-gap: 60px;
  margin-top: 20px;

  @media (width >= 40em) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
  }

  @media (width >= 80em) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
  }
}

.out-now-box, .live-shows-box, .discography-box,
.videos-box, .studio-producing-box,
.shop-box, .who-am-i-box {
  background-color: rgba(173, 216, 230, 0);
}

.home-grid img {
  max-width: 100%;
  width: auto;
}


.out-now-box {
  display: flex;
  flex-direction: column;
}

.out-now-title,
.out-now-title a {
  font-size: 1.3rem;
  color: white;
}

.out-now-title {
  margin: 0 0 10px 0;
  text-decoration: none;
}

.out-now-cover:hover {
  border:2px solid blue;
  box-sizing: border-box;
}

.live-shows-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

hr {
  border: none; /* Remove default border */
  height: 1px; /* Set height to make it look like a line */
  background: repeating-linear-gradient(
    to right, 
    #ffffff 0%, /* Dot color (black in this case) */
    #ffffff 1px, /* Size of each square dot */
    transparent 1px, /* Space between dots */
    transparent 5px /* Length of space between dots */
  );
  margin: 10px 0; /* Optional: Adjust spacing around the hr element */
}

.live-shows-list a,
.live-shows-list p{
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  text-align: right;
}

.sonnenblume {
  width: 120px;
  margin: 25px 50px 0 0
}

.newsletter-title {
  position:relative;
}

.schnecke {
  width: 150px;
  position: absolute;
  left: 180px;
  top: 110px;
}

.schnecke img{
  transform: scaleX(-1);
  rotate: 20deg;
}

.newsletter-info {
  color: white;
}

.newsletter-link {
  color: white;
  text-decoration: underline;
}

.discography-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trio-blume {
  width: 150px;
  margin: -10px 0 0 0
}

.studio-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.videos-blume {
  width: 130px;
}

.pinks-blüemli {
  width: 130px;
}
