body {
  background-color: rgb(74, 21, 74);
}

h1 {
  color: green;
  margin-top: 50px;
}

h2 {
  font-size: 1.5rem;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap:70px;
  row-gap: 60px;
  margin-top: 40px;

  @media (width >= 60em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >= 91em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.video iframe {
  width: 400px;
  height: 225px;
  max-width: 100%;
}

.year {
  margin-bottom: 50px;
}